html {
  scroll-behavior: smooth;
}

body .media {
  margin: auto;
  background-color: white;
}
body header {
  font-family: "Urbanist", sans-serif !important;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5rem;
  justify-content: space-between;
  position: sticky;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  top: 0;
}
body header section {
  background-color: #53545c;
  color: #fff;
  text-align: center;
  padding: 5px;
}
body header div .navbar {
  background-color: #fff;
  width: 100%;
}
body header div .navbar a {
  text-decoration: none;
  color: #53545c;
  text-align: center;
}
body header div .navbar .dropdown:hover .dropdown-menu {
  display: block;
}
body header div .navbar .dropdown-item:hover,
body header div .navbar .dropdown-item:focus {
  background-color: white;
  color: #53545c;
}
body header div .navbar .dropdown-menu {
  border: 0;
}
body header .dropdown-item {
  text-align: left !important;
}
body header .parintedropdown {
  width: 99.5vw;
  left: -212px !important;
}
body header .parintedropdown2 {
  width: 99.5vw;
  left: -318px !important;
}
body header .parintedropdown3 {
  width: 99.5vw;
  height: 22vw;
  left: -417px !important;
}
body header .parintedropdown4 {
  width: 99.5vw;
  height: 22vw;
  left: -512px !important;
}
body header .parintedropdown5 {
  width: 99.5vw;
  height: 22vw;
  left: -620px !important;
}
body header .media2 {
  margin: auto;
}
body main section:first-child figure {
  margin: 0;
}
body main section:first-child figure .fundal {
  width: 100%;
  margin: auto;
}
body main section:first-child h1 {
  margin-top: 20vh;
  margin-left: 10vh;
  font-size: 3.43rem;
  line-height: 4rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  position: absolute;
  font-family: "Libre Baskerville", serif !important;
}
body main section:first-child div {
  position: absolute;
  background-color: white;
  padding: 2.5rem;
  width: 22.5rem;
  top: 60%;
  right: 10rem;
  font-family: "Libre Baskerville", serif !important;
  color: #53545c;
}
body main section:first-child div h2 {
  margin-bottom: 20px;
}
body main section:first-child div a {
  text-decoration: none;
  color: #53545c;
}
body main section:first-child div p {
  text-align: justify;
  font-size: smaller;
}
body main section:nth-child(2) {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main section:nth-child(2) div figure {
  margin-left: 10px;
  margin-right: 10px;
  margin: auto;
  display: table;
}
body main section:nth-child(2) div figure img {
  width: 100%;
  height: auto;
}
body main section:nth-child(2) div figure figcaption {
  color: #53545c;
  text-align: center;
  display: table-caption;
  caption-side: bottom;
  margin-bottom: 50px;
}
body main section:nth-child(2) div figure figcaption h2 {
  font-family: "Libre Baskerville", serif !important;
}
body main section:nth-child(3) {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 5%;
  margin-left: 5%;
  gap: 5%;
}
body main section:nth-child(3) figure {
  margin: auto;
  display: table;
}
body main section:nth-child(3) figure figcaption {
  display: table-caption;
  caption-side: bottom;
  color: #53545c;
}
body main section:nth-child(3) figure a {
  text-decoration: none;
  color: #53545c;
}
body main section:nth-child(3) figure h4 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Libre Baskerville", serif !important;
}
body main section:nth-child(3) figure p {
  text-align: justify;
  margin-bottom: 30px;
  font-size: medium;
  font-family: "Urbanist", sans-serif !important;
}
body main section:nth-child(4) {
  margin-top: 10vh;
}
body main section:nth-child(4) .flex-container {
  color: #53545c;
  display: flex;
  flex-wrap: nowrap;
  gap: 20rem;
}
body main section:nth-child(4) .flex-container h2 {
  font-family: "Libre Baskerville", serif !important;
  flex-grow: 1;
  text-align: left;
  margin-left: 10rem;
}
body main section:nth-child(4) .flex-container h4 {
  font-family: "Libre Baskerville", serif !important;
  flex-grow: 2;
  align-self: stretch;
  line-height: 2.5rem;
}
body main section:nth-child(4) .flex-container a {
  text-decoration: none;
  color: #53545c;
  font-size: small;
}
body main section:nth-child(4) .img-wrapper {
  max-width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body main section:nth-child(4) img {
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}
body main section:nth-child(4) .carousel-inner {
  padding: 1em;
}
body main section:nth-child(4) .card {
  margin: 0 0.5em;
  border: 0;
}
body main section:nth-child(4) .card-body {
  color: #53545c;
  display: table-caption;
  text-align: center;
  margin: auto;
}
body main section:nth-child(4) .card-body h5 {
  text-align: center;
  font-family: "Libre Baskerville", serif !important;
}
body main section:nth-child(4) .carousel-control-prev,
body main section:nth-child(4) .carousel-control-next {
  width: 6vh;
  height: 6vh;
  background-color: lightgray;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
}
body main section:nth-child(4) .carousel-control-prev:hover,
body main section:nth-child(4) .carousel-control-next:hover {
  opacity: 0.4;
}
@media screen and (min-width: 576px) {
  body main .carousel-inner {
    display: flex;
  }
  body main .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 33.3333333333%;
  }
  body main .img-wrapper {
    height: 23vw;
  }
}
body section:nth-child(5) {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 5%;
  margin-left: 5%;
  gap: 5%;
}
body section:nth-child(5) figure {
  margin: auto;
  display: table;
}
body section:nth-child(5) figure figcaption {
  display: table-caption;
  caption-side: bottom;
  color: #53545c;
}
body section:nth-child(5) figure a {
  text-decoration: none;
  color: #53545c;
}
body section:nth-child(5) figure h4 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Libre Baskerville", serif !important;
}
body section:nth-child(5) figure p {
  text-align: justify;
  margin-bottom: 30px;
  font-size: medium;
  font-family: "Urbanist", sans-serif !important;
}
body section:nth-child(6) .img-wrapper {
  max-width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body section:nth-child(6) img {
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}
body section:nth-child(6) .carousel-inner {
  padding: 1em;
}
body section:nth-child(6) .card {
  margin: 0 0.5em;
  border: 0;
}
body section:nth-child(6) .card-body {
  color: #53545c;
  display: table-caption;
  text-align: center;
  margin: auto;
}
body section:nth-child(6) .card-body h5 {
  text-align: center;
  font-family: "Libre Baskerville", serif !important;
}
body section:nth-child(6) .carousel-control-prev,
body section:nth-child(6) .carousel-control-next {
  width: 6vh;
  height: 6vh;
  background-color: lightgray;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
}
body section:nth-child(6) .carousel-control-prev:hover,
body section:nth-child(6) .carousel-control-next:hover {
  opacity: 0.4;
}
@media screen and (min-width: 576px) {
  body .carousel-inner {
    display: flex;
  }
  body .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 33.3333333333%;
  }
  body .img-wrapper {
    height: 23vw;
  }
}

section:nth-child(7) {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 5%;
  margin-left: 5%;
  gap: 5%;
}
section:nth-child(7) figure {
  margin: auto;
  display: table;
}
section:nth-child(7) figure figcaption {
  display: table-caption;
  caption-side: bottom;
  color: #53545c;
}
section:nth-child(7) figure a {
  text-decoration: none;
  color: #53545c;
}
section:nth-child(7) figure h4 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Libre Baskerville", serif !important;
}
section:nth-child(7) figure p {
  text-align: justify;
  margin-bottom: 30px;
  font-size: medium;
  font-family: "Urbanist", sans-serif !important;
}

section:nth-child(8) {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  gap: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
section:nth-child(8) figure {
  margin: auto;
  display: table;
}
section:nth-child(8) figure figcaption {
  display: table-caption;
  caption-side: bottom;
  color: #53545c;
}
section:nth-child(8) figure a {
  text-decoration: none;
  color: #53545c;
}
section:nth-child(8) figure h4 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Libre Baskerville", serif !important;
}
section:nth-child(8) figure p {
  text-align: justify;
  margin-bottom: 30px;
  font-size: medium;
  font-family: "Urbanist", sans-serif !important;
}

section:nth-child(9) {
  margin-top: 20vh;
  margin-bottom: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Urbanist", sans-serif !important;
  color: #53545c;
}
section:nth-child(9) figure {
  margin: auto;
}
section:nth-child(9) figure img {
  width: 40%;
  height: 40%;
}
section:nth-child(9) figure figcaption {
  margin-top: 30px;
  text-align: left;
  font-size: small;
}

footer {
  color: #53545c;
  font-family: "Urbanist", sans-serif;
  font-weight: 200;
  border-bottom: 1px thin #53545c;
}
footer div div h2,
footer div div p,
footer div div label {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 30%;
  margin-bottom: 30px;
  margin-top: 30px;
}
footer div div h6 {
  text-align: right;
}
footer div div h6 a {
  color: #53545c;
}
footer div div .form-control-label input {
  border: 0;
  border-bottom: thin solid #53545c;
  border-radius: 0;
}
footer div div:nth-child(2) {
  border-top: 1px solid #53545c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: left;
}
footer div div:nth-child(2) ul {
  margin-top: 30px;
  list-style: none;
  text-align: left;
  font-size: 0.8rem !important;
}
footer div div:nth-child(2) li {
  font-size: 0.8rem;
  margin-bottom: 15px;
}
footer div div:nth-child(2) a {
  text-decoration: none;
  color: #53545c;
  font-size: 0.8rem;
}

.border-transition {
  text-align: left;
  margin: auto;
  position: relative;
  top: 10px;
  background-color: white;
  color: #53545c;
}

.border-transition::after {
  content: "";
  height: 1px;
  width: 0px;
  background-color: #53545c;
  position: absolute;
  bottom: 0px;
  right: 0%;
  transition: 0.3s ease;
}

.border-transition:hover::after {
  width: 100%;
  left: 0%;
  cursor: pointer;
}

@media (max-width: 767px) {
  .media {
    width: 100%;
  }
  body main section:nth-child(2) div {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .media {
    width: 740px;
  }
  .media h1 {
    line-height: 2.8125rem;
    font-size: 2.5rem;
  }
  body main section:nth-child(2) div {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .media {
    width: 960px;
  }
  #index1 main section:nth-child(2) div {
    width: 33%;
  }
  #index2 main section:nth-child(2) div {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .media h1 {
    line-height: 4rem;
    font-size: 3.43rem;
  }
  .media2 {
    width: calc(100% - 3rem);
    max-width: 1024px;
  }
  #index1 main section:nth-child(2) {
    max-width: 1024px;
    margin: auto;
  }
}
@media (max-width: 1260px) {
  #index1 main section:nth-child(1) div {
    display: none;
  }
  #index2 h1 {
    display: none;
  }
}
@media (min-width: 1260px) {
  .media {
    width: 1220px;
  }
}
@media (min-width: 1280px) {
  .media2 {
    width: calc(100% - 5rem);
    max-width: 1280px;
  }
}
@media (min-width: 1441px) {
  .media2 {
    width: calc(100% - 10rem);
    max-width: 90rem;
  }
}
@media (min-width: 1530px) {
  .media {
    width: 1520px;
  }
}
#index2 {
  width: 100%;
  height: auto;
}
#index2 main section:first-child figure {
  margin-bottom: 50px;
}
#index2 main section:first-child figure figcaption h1 {
  color: #53545c;
  position: absolute;
}
#index2 main section:first-child h4 {
  color: grey;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: "Libre Baskerville", serif !important;
}
#index2 main section:first-child h4::first-letter {
  float: left;
  font-size: 250%;
  font-weight: bold;
  color: grey;
  line-height: 1;
  margin: 5px 5px -10px 5px;
}
#index2 main section:nth-child(2) {
  margin: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 1;
  gap: 3%;
  margin-left: 5%;
  margin-right: 5%;
}
#index2 main section:nth-child(2) figure {
  margin: auto;
  margin-top: 50px;
}
#index2 main section:nth-child(2) figure figcaption {
  caption-side: bottom;
  color: #53545c;
}
#index2 main section:nth-child(2) figure a {
  text-decoration: none;
  color: #53545c;
}
#index2 main section:nth-child(2) figure h4 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Libre Baskerville", serif !important;
}
#index2 main section:nth-child(2) figure p {
  text-align: justify;
  margin-bottom: 30px;
  font-size: medium;
  font-family: "Urbanist", sans-serif !important;
}

#index4 .media {
  background-color: #fff;
  margin: auto;
  font-family: "Urbanist", sans-serif !important;
  font-size: smaller;
}
#index4 #section9 {
  background-color: #fff;
  margin-top: 20vh;
  margin-bottom: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Urbanist", sans-serif !important;
  color: #53545c;
}
#index4 #section9 figure {
  margin: auto;
}
#index4 #section9 figure img {
  width: 40%;
  height: 40%;
}
#index4 #section9 figure figcaption {
  margin-top: 30px;
  text-align: left;
  font-size: small;
}
#index4 header {
  font-family: "Urbanist", sans-serif !important;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5rem;
  justify-content: space-between;
  position: sticky;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  top: 0;
}
#index4 header section {
  background-color: #53545c;
  color: #fff;
  text-align: center;
  padding: 5px;
}
#index4 header div .navbar {
  background-color: #fff;
  width: 100%;
}
#index4 header div .navbar a {
  text-decoration: none;
  color: #53545c;
  text-align: center;
}
#index4 header div .navbar .dropdown:hover .dropdown-menu {
  display: block;
}
#index4 header div .navbar .dropdown-item:hover,
#index4 header div .navbar .dropdown-item:focus {
  background-color: white;
  color: #53545c;
}
#index4 header div .navbar .dropdown-menu {
  border: 0;
}
#index4 header .dropdown-item {
  text-align: left !important;
}
#index4 header .parintedropdown {
  width: 99vw;
  left: -212px !important;
}
#index4 header .parintedropdown2 {
  width: 99vw;
  left: -318px !important;
}
#index4 header .parintedropdown3 {
  width: 99vw;
  height: 22vw;
  left: -417px !important;
}
#index4 header .parintedropdown4 {
  width: 99vw;
  height: 22vw;
  left: -512px !important;
}
#index4 header .parintedropdown5 {
  width: 99vw;
  height: 22vw;
  left: -620px !important;
}
#index4 header .media2 {
  margin: auto;
}
#index4 footer {
  color: #53545c;
  font-family: "Urbanist", sans-serif;
  font-weight: 200;
  border-bottom: 1px thin #53545c;
}
#index4 footer div div h2,
#index4 footer div div p,
#index4 footer div div label {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 30%;
  margin-bottom: 30px;
  margin-top: 30px;
}
#index4 footer div div h6 {
  text-align: right;
}
#index4 footer div div h6 a {
  color: #53545c;
}
#index4 footer div div .form-control-label input {
  border: 0;
  border-bottom: thin solid #53545c;
  border-radius: 0;
}
#index4 footer div div:nth-child(2) {
  border-top: 1px solid #53545c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: left;
}
#index4 footer div div:nth-child(2) ul {
  margin-top: 30px;
  list-style: none;
  text-align: left;
  font-size: 0.8rem !important;
}
#index4 footer div div:nth-child(2) li {
  font-size: 0.8rem;
  margin-bottom: 15px;
}
#index4 footer div div:nth-child(2) a {
  text-decoration: none;
  color: #53545c;
  font-size: 0.8rem;
}/*# sourceMappingURL=main.css.map */